:root {
    --green      : #1d9d73;
    --ligth-green: #1FA87A;
    --grey       : #888;
    --light-black: #333;
    --white      : #fff;
    --margin5    : 5px;
    --margin10   : 10px;
    --margin16   : 16px;
    --margin20   : 20px;
    --margin25   : 25px;
    --margin30   : 30px;
}

html {
    font-size: 10px;
}

.row {
    display  : flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.head {
    align-items    : center;
    justify-content: space-between;
}

.header {
    background-color: var(--white);
    padding         : 5px 0;
}

.logo {
    width         : 25%;
    height        : 20%;
    vertical-align: middle;
    margin-top    : auto;
    margin-bottom : auto;
}

.names {
    align-items: center;
}

.name {
    font-size    : 3.7rem;
    margin-top   : auto;
    margin-bottom: auto;
}

.subname {
    margin-left  : var(--margin5);
    margin-top   : 67px;
    font-size    : 1.4rem;
    margin-top   : auto;
    margin-bottom: auto;
}

.navigation {
    margin-left: var(--margin20);
    font-size  : 2rem;
}

.pointer {
    font-size: 2rem;
    color    : #53B495;
}

.home {
    color: #53B495;
}

.text-head {
    font-size    : 5.5rem;
    color        : var(--light-black);
    margin-bottom: var(--margin30);
}

.text-discription {
    font-size    : 2.6rem;
    color        : var(--green);
    margin-bottom: var(--margin25);
}

.text-text {
    font-size: 1.8rem;
    color    : var(--grey);
}

.services-description {
    font-size: 2.6rem;
    color    : var(--light-black);
}

.services-text {
    font-size: 1.4rem;
    color    : var(--grey);
}

.services {
    text-align: center;
    margin-top: 50px;
}

.container,
.header,
.footer {
    margin-right: var(--margin20);
    margin-left : var(--margin20);
}

.last {
    margin-right: 0;
}

.list-item {
    margin-right : 50px;
    width        : calc(80% / 3 - 50px);
    margin-bottom: 60px;
}

.services {
    width          : 65%;
    /* margin-left : auto;
    margin-right   : auto; */
}

.services-description {
    margin-top   : var(--margin15);
    margin-bottom: var(--margin15);
}

.container {
    justify-content: center;
}

.services-list {
    justify-content: center;
    margin-top     : 90px;
}

.how-we-work-head {
    font-size    : 5.5rem;
    color        : var(--white);
    text-align   : center;
    margin-bottom: 40px;
}

.how-we-work-discription {
    font-size  : 2.5rem;
    color      : var(--green);
    margin-left: var(--margin10);
}

.how-we-work-discription::before {
    content: url(../imgs/check.png);
}

.how-we-work-text {
    font-size    : 1.4rem;
    color        : var(--grey);
    margin-top   : var(--margin15);
    margin-bottom: var(--margin30);
}

.mark-texts-1 {
    width       : calc(80% / 2 - 30px);
    margin-right: var(--margin30);
}

.mark-texts-2 {
    width      : calc(70% / 2 - 30px);
    margin-left: var(--margin30);
}

.picture-background {
    background    : url(../imgs/services-page.png) no-repeat center;
    margin-left   : 0px;
    margin-right  : 0px;
    padding-top   : 70px;
    padding-bottom: 60px;
    margin-top    : 40px;
}

.container-how-we-work {
    display        : flex;
    justify-content: center;
}

.text-head {
    text-align: center;
}

.person-text {
    font-size    : 1.4rem;
    color        : var(--grey);
    margin-bottom: var(--margin16);
}

.person-text::before {
    content     : url(../imgs/quotes.png);
    margin-right: var(--margin10);
}

.persom-name {
    font-size: 2.0rem;
    color    : var(--light-black);
}

.person-job {
    font-size: 1.5rem;
    color    : var(--ligth-green);
}

.tester-block {
    margin-right : 50px;
    width        : calc(80% / 3 - 50px);
    margin-bottom: 75px;
}

.testers {
    justify-content: center;
}

html {
    line-height: 1.75;
}

.check {
    width    : 7%;
    height   : 7%;
    min-width: 37px;
}

.testimonials {
    margin-top   : 70px;
    margin-bottom: 60px;
}

.tester-img {
    margin-bottom: var(--margin10);
}

.links-footer {
    justify-content: center;
    margin-bottom  : 50px;
    margin-top     : var(--margin30);
}

.our-links-icon {
    height: 20px;
}

.small-logo {
    height: 19px;
}

.privacy-policy {
    margin-left : var(--margin10);
    margin-right: var(--margin20);
}

.logo {
    width : 25%;
    height: auto;
}

@media (max-width: 350px) {
    .logo {
        min-width: 73px;
    }
}

@media (max-width: 600px) {
    .services {
        width     : 90%;
        margin-top: 20px;
    }

    .text-head {
        margin-bottom: 10px;
    }

    .text-discription {
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .list-item {
        width       : calc(80% / 2 - 30px);
        margin-right: 30px;
    }

    .tester-block {
        width       : calc(80% / 2 - 30px);
        margin-right: 30px;
    }
}

@media (max-width: 800px) {
    .list-item {
        width        : 80%;
        margin-right : 0;
        margin-bottom: 40px;
    }

    .services-description {
        width  : 80%;
        display: inline-block;
    }

    .list-icon-img {
        vertical-align: bottom;
    }

    .services-list {
        margin-top: 50px;
    }

    .tester-block {
        width       : 80%;
        margin-right: 0;
    }

    .person-text {
        width        : 65%;
        display      : inline-block;
        margin-bottom: 0;
    }

    .tester-img {
        display         : inline-block;
        margin-bottom   : 0;
        margin-right    : 10px;
        /* margin-top   : auto;
        margin-bottom   : auto; */
    }

    .person-main-block {
        margin-bottom: 10px;
    }

    .testimonials {
        margin-top   : 30px;
        margin-bottom: 25px;
    }

    .tester-block {
        margin-bottom: 30px;
    }

    .persom-name {
        width  : 35%;
        display: inline-block;
    }

    .person-job {
        width  : 30%;
        display: inline-block;
    }

    .links-footer {
        margin-bottom: 20px;
    }

    .mark-texts-1,
    .mark-texts-2 {
        width       : 80%;
        margin-right: 0;
        margin-left : 0;
    }

    .how-we-work-discription {
        line-height: 1.25;
        margin-left: 0;
    }

    .person-about-block {
        justify-content: space-between;
    }
}

@media (max-width: 640px) {
    .person-text {
        width: 60%;
    }

    .tester-block {
        width: 90%;
    }

    .tester-img {
        margin-bottom: 3%;
    }
}

@media (max-width: 475px) {
    .person-text {
        width: 100%;
    }

    .tester-block {
        width: 100%;
    }

    .tester-img {
        width        : 35%;
        margin-bottom: 10px;
        min-width    : 120px;
        display      : block;
    }

    .persom-name {
        width: 60%;
    }

    .testimonials {
        font-size: 4rem;
    }
}

@media (max-width: 550px) {
    .footer-name {
        margin-bottom: 10px;
    }

    .how-we-work-head {
        font-size: 4.5rem;
    }

    .text-head {
        font-size: 3.5rem;
    }

}

@media (max-width: 1350px) {
    .picture-background {
        width          : 100%;
        height         : 200%;
        background-size: auto 1092px;
    }
}


@media (max-width: 370px) {
    .picture-background {
        width          : 100%;
        height         : 200%;
        background-size: auto 1500px;
    }

    .persom-name {
        font-size  : 1.6rem;
        font-weight: 600;
    }
}

@media (max-width: 506px) {
    .persom-name {
        width: 40%;
    }
}

@media (max-width: 450px) {
    .persom-name {
        width: 50%;
    }
}

.person-job {
    margin-top   : auto;
    margin-bottom: auto;
    margin-left  : var(--margin10);
}

hr {
    border       : solid #f8f9fa 1px;
    box-shadow   : 1px 3px #eceff1;
    margin-bottom: var(--margin30);
}

@media (max-width: 562px) {
    .services-description {
        width: 70%;
    }

    .list-icon-img {
        display       : inline;
        vertical-align: middle;
        text-align    : center;
    }
}

@media (max-width: 500px) {
    .text-discription {
        font-size: 2.2rem;
    }

    .text-text {
        font-size: 1.4rem;
    }

    .list-item {
        width: 90%;
    }

    .how-we-work-head {
        font-size: 3.5rem;
    }
}

@media (max-width: 564px) {
    .services-description {
        font-size     : 2rem;
        margin-bottom : 0;
        margin-top    : 0;
        vertical-align: middle;
    }
}

@media (max-width: 360px) {
    .list-icon-img {
        max-width: 76px;
        width    : 20%;
        min-width: 50px;
    }
}